<!DOCTYPE html>
<html lang="es">
  <head>
    <title>SHMO</title>
    <style>
      body {
        font-family: sans-serif;
        background-color: #fff;
        margin-top: 0px;
        -webkit-print-color-adjust: exact;
      }
      @media print {
        .page-break {
          page-break-after: always;
        }
      }
      .flex-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-end;
      }

      .table-border {
        border: 1px solid gray;
        border-collapse: collapse;
        padding-left: 10px;
      }
    </style>
  </head>
  <body>
    <table style="width: 100%; border: 1px solid gray; font-size: 10px">
      <tr>
        <td
          colspan="12"
          style="
            width: 100%;
            text-align: center;
            background-color: #dedddd;
            font-size: 12px;
          "
        >
          CONSENTIMIENTO INFORMADO PARA EL SERVICIO DE SALUD
        </td>
      </tr>
      <tr>
        <td colspan="1" style="width: 10%">
          <strong> FECHA: </strong>
        </td>
        <% const dateOfFinalization= admissionDate %>

        <td colspan="9">
          <%= (new Date(dateOfFinalization))?.toLocaleDateString('es-ES', {
          year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit',
          minute: '2-digit', second: '2-digit', hour12: true })%>
        </td>
        <td colspan="2" rowspan="6">
          <img
            src="<%=patientPhoto %>"
            alt=""
            style="width: 140px; height: 100px; float: right"
          />
        </td>
      </tr>
      <tr>
        <td colspan="1">
          <strong> ENFASIS: </strong>
        </td>
        <td colspan="9"><%= examType%></td>
      </tr>

      <tr>
        <td colspan="1">
          <strong> NOMBRE: </strong>
        </td>
        <td colspan="9"><%= patientName %></td>
      </tr>
      <tr>
        <td colspan="1">
          <strong> C.C.: </strong>
        </td>
        <td colspan="2"><%= patientDocument %></td>
        <td colspan="1">
          <strong> EDAD: </strong>
        </td>
        <td colspan="7" style="text-align: left">
          <span> <%= age?.full %> </span>
        </td>
      </tr>
      <tr>
        <td colspan="1">
          <strong> E. CIVIL: </strong>
        </td>
        <td colspan="2" style="text-align: left">
          <%= civilStatus?.toUpperCase() %>
        </td>
        <td colspan="1">
          <strong> DOMINANCIA: </strong>
        </td>
        <td colspan="2" style="text-align: left"><%= dominance %></td>
        <td colspan="1">
          <strong> EPS: </strong>
        </td>
        <td colspan="3"><%= entityName %></td>
      </tr>
    </table>

    <p style="font-size: 11px">
      Declaro que asisto de manera voluntaria a la Institución Prestadora de
      Servicios de Salud JAVAP Salud Ocupacional para la realización de un
      Examen Médico Ocupacional y/o pruebas complementarias diagnósticas, que
      permitan establecer mi condición de salud y aptitud para el desempeño de
      la ocupación en una Empresa, de manera segura para mi integridad personal
      y la de terceros.
      <br />
      <br />
      La realización del Examen Médico Ocupacional y/o pruebas complementarias
      diagnósticas, no representan en sí mismas ningún riesgo que ponga en
      peligro mi integridad física o mental y no existe un riesgo especial
      previsible.
      <br />
      <br />
      Cada evaluador está a su disposición para ampliarle la información de la
      prueba a realizar, por lo que le puede preguntar cualquier duda o
      inquietud que usted tenga.
      <br />
      <br />
      Por ello, al firmar se considera que usted acepta conocer y entender las
      condiciones para someterse voluntariamente a su realización y queda
      entendido para nosotros que, en caso de posteriormente no estar de acuerdo
      con algún procedimiento, podrá retirar este consentimiento, para lo cual
      deberá firmar el respectivo desistimiento, para que no se le realice.
    </p>
    <table style="font-size: 11px" class="table-border">
      <tr>
        <td
          class="table-border"
          style="width: 20%; background-color: rgb(224, 234, 245)"
        >
          <strong> Descripción del servicio y procedimientos </strong>
        </td>
        <td class="table-border" style="width: 80%">
          <p>
            Diligenciamiento de historia clínica, reevaluación, valoración,
            examen físico, control, orientación, diagnostico, solicitud de
            exámenes paraclínicos y generación de certificado clínico de Salud
            Ocupacional.
          </p>
        </td>
      </tr>
      <tr>
        <td
          class="table-border"
          style="width: 20%; background-color: rgb(224, 234, 245)"
        >
          <strong> Beneficios </strong>
        </td>
        <td class="table-border" style="width: 80%">
          <p>
            Examinar, conocer, evaluar, diagnosticar el estado del paciente y
            generar certificado de salud ocupacional.
          </p>
        </td>
      </tr>
      <tr>
        <td
          class="table-border"
          style="width: 20%; background-color: rgb(224, 234, 245)"
        >
          <strong> Riesgos </strong>
        </td>
        <td class="table-border" style="width: 80%">
          <p>
            No previste ningún riesgo a la salud, puesto que, son exámenes
            diagnósticos para establecer tratamientos a seguir y/o actividades
            de promoción y prevención.
          </p>
        </td>
      </tr>
      <tr>
        <td
          class="table-border"
          style="width: 20%; background-color: rgb(224, 234, 245)"
        >
          <strong> Riesgos de no realizarlo </strong>
        </td>
        <td class="table-border" style="width: 80%">
          <p>
            No conocer el estado de salud, enfermedad, diagnostico o tratamiento
            que necesita, imposibilitando la atención y limitando al profesional
            para poder ejercer lo pertinente que se requiera.
          </p>
        </td>
      </tr>
      <tr>
        <td
          class="table-border"
          style="width: 20%; background-color: rgb(224, 234, 245)"
        >
          <strong> Alternativa de tratamiento</strong>
        </td>
        <td class="table-border" style="width: 80%">
          <p>No aplica.</p>
        </td>
      </tr>
    </table>
    <p style="font-size: 11px">
      Acepta que los documentos de la atención tengan su foto y firma y que
      puedan ser guardados de manera electrónica en un Formato de Historia
      Electrónica, en la cual le garantizamos la reserva y confidencialidad de
      mi información sensible y al empleador solo se le podrá entregar el
      Certificado Médico de Aptitud.
      <br />
      <br />
      Para que el Médico Especialista en Salud en el Trabajo pueda evaluar su
      condición de salud y antecedentes de enfermedades, acepta informar toda la
      verdad, sin ocultamientos ni información falsa sobre su condición de
      salud, por lo que la información suministrada puede ser usada para
      intervenir sobre ella buscando su mejoramiento, de acuerdo al Sistema de
      Gestión de la Seguridad y Salud en el Trabajo de la Empresa. Además, podrá
      ampliar al Médico lo que considere necesario.
      <br />
      <br />
      <strong>AUTORIZO</strong> expresamente a
      <strong>JAVAP Salud Ocupacional</strong>, para que informe al médico de
      Salud ocupacional o medicina laboral de la Empresa sobre las condiciones
      de mi estado de salud, y remita a esta última copia de la evaluación
      médica ocupacional y/o los exámenes paraclínicos a mi realizados, de
      conformidad con lo establecido por la legislación vigente (Res. 2346/07 y
      Res. 1918/09 del Min. de la Protección Social)
    </p>
    <p style="text-align: center; font-size: 11px">
      <strong>CONFIDENCIAL</strong> - este documento es de uso exclusivo de
      JAVAP Salud Ocupacional, por lo que, se encuentra prohibida su divulgación
      por cualquier medio sin autorización expresa y escrita.
    </p>

    <div
      style="
        width: 100%;

        display: flex;
        justify-content: space-between;
      "
    >
      <div style="display: flex; flex-direction: column; align-items: center">
        <img src="<%=doctorSignature%>" style="width: 140px; height: 100px" />
        <div
          style="
            width: 200px;
            padding: 2px;
            font-size: 9px;
            font-weight: 700;
            text-align: center;
            border-top: 2px solid black;
          "
        >
          FIRMA MEDICO S.O. RM Y LICENCIA
        </div>
      </div>
      <div style="display: flex; flex-direction: column; align-items: center">
        <img src="<%=signature%>" style="width: 140px; height: 100px" />
        <div
          style="
            width: 200px;
            padding: 2px;
            font-size: 9px;
            font-weight: 700;
            text-align: center;
            border-top: 2px solid black;
          "
        >
          FIRMA PACIENTE
        </div>
      </div>
      <div style="display: flex; flex-direction: column; align-items: center">
        <img
          src="<%=fingerprint%>"
          alt=""
          style="width: 140px; height: 100px"
        />
        <div
          style="
            width: 200px;
            padding: 2px;
            font-size: 9px;
            font-weight: 700;
            text-align: center;
            border-top: 2px solid black;
          "
        >
          HUELLA PACIENTE
        </div>
      </div>
    </div>
    <div class="page-break"></div>
  </body>
</html>
