<!DOCTYPE html>
<html lang="es">
  <head>
    <title>SHMO</title>
    <style>
      body {
        font-family: sans-serif;
        background-color: #fff;
        margin-top: 0px;
        -webkit-print-color-adjust: exact;
      }
      @media print {
        .page-break {
          page-break-after: always;
        }
      }
      .flex-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-content: stretch;
        align-items: flex-end;
      }

      .table-border {
        border: 1px solid gray;
        border-collapse: collapse;
        padding-left: 10px;
      }
    </style>
  </head>
  <body>
    <table style="width: 100%; border: 1px solid gray; font-size: 10px">
      <tr>
        <td
          colspan="12"
          style="
            width: 100%;
            text-align: center;
            background-color: #dedddd;
            font-size: 12px;
          "
        >
          CONSENTIMIENTO INFORMADO PARA ESPIROMETRIA
        </td>
      </tr>
      <tr>
        <td colspan="1" style="width: 10%">
          <strong> FECHA: </strong>
        </td>
        <% const dateOfFinalization= admissionDate %>

        <td colspan="9">
          <%= (new Date(dateOfFinalization))?.toLocaleDateString('es-ES', {
          year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit',
          minute: '2-digit', second: '2-digit', hour12: true })%>
        </td>
        <td colspan="2" rowspan="6">
          <img
            src="<%=patientPhoto %>"
            alt=""
            style="width: 140px; height: 100px; float: right"
          />
        </td>
      </tr>
      <tr>
        <td colspan="1">
          <strong> ENFASIS: </strong>
        </td>
        <td colspan="9"><%= examType%></td>
      </tr>

      <tr>
        <td colspan="1">
          <strong> NOMBRE: </strong>
        </td>
        <td colspan="9"><%= patientName %></td>
      </tr>
      <tr>
        <td colspan="1">
          <strong> C.C.: </strong>
        </td>
        <td colspan="2"><%= patientDocument %></td>
        <td colspan="1">
          <strong> EDAD: </strong>
        </td>
        <td colspan="7" style="text-align: left">
          <span> <%= age?.full %> </span>
        </td>
      </tr>
      <tr>
        <td colspan="1">
          <strong> E. CIVIL: </strong>
        </td>
        <td colspan="2" style="text-align: left">
          <%= civilStatus?.toUpperCase() %>
        </td>
        <td colspan="1">
          <strong> DOMINANCIA: </strong>
        </td>
        <td colspan="2" style="text-align: left"><%= dominance %></td>
        <td colspan="1">
          <strong> EPS: </strong>
        </td>
        <td colspan="3"><%= entityName %></td>
      </tr>
    </table>

    <p style="font-size: 11px; font-weight: bold; text-align: center">
      El siguiente consentimiento informado tiene por objetivo garantizar el
      respeto a mis derechos y mis decisiones, durante la atención que me son
      realizadas en esta entidad.

      <br />
    </p>
    <table style="font-size: 11px" class="table-border">
      <tr>
        <td
          class="table-border"
          style="width: 20%; background-color: rgb(224, 234, 245)"
        >
          <strong> Descripción del servicio y procedimientos </strong>
        </td>
        <td class="table-border" style="width: 80%">
          <p>
            Es una prueba que mide la función mecánica respiratoria. La
            espirometría mide los flujos y volúmenes respiratorios útiles para
            el diagnóstico y seguimiento de patologías respiratorias.
          </p>
        </td>
      </tr>
      <tr>
        <td
          class="table-border"
          style="width: 20%; background-color: rgb(224, 234, 245)"
        >
          <strong> Beneficios </strong>
        </td>
        <td class="table-border" style="width: 80%">
          <p>
            Examinar, conocer, evaluar, diagnosticar el estado del paciente y
            generar reporte de espirometría.
          </p>
        </td>
      </tr>
      <tr>
        <td
          class="table-border"
          style="width: 20%; background-color: rgb(224, 234, 245)"
        >
          <strong> Riesgos </strong>
        </td>
        <td class="table-border" style="width: 80%; padding: 0">
          <table>
            <tr>
              <td class="table-border">
                <ul>
                  <li>
                    Durante la prueba, debido al esfuerzo que necesita, puede
                    que note sensación de mareo o tos que tras terminar la
                    prueba desaparecen.
                  </li>
                  <li>
                    En muy pocos casos pueden aparecer problemas más serios,
                    tales como:

                    <ul>
                      <li>
                        Síncope. Perdida de conciencia de segundos de duración
                        con recuperación completa en segundos o minutos.
                      </li>
                    </ul>
                  </li>
                </ul>
              </td>
              <td class="table-border">
                <ul>
                  <li>
                    <ul>
                      <li>Tos persistente.</li>
                      <li>Dolor Torácico</li>
                      <li>
                        Broncoespasmo. El paciente nota dificultad respiratoria
                        que cede al administrarle el medicamento
                        broncodilatador.
                      </li>
                      <li>Cefalea. (Dolor de Cabeza)</li>
                      <li>Náuseas o vómitos provocadas por la boquilla.</li>
                      <li>Crisis hipertensiva</li>
                    </ul>
                  </li>
                </ul>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td
          class="table-border"
          style="width: 20%; background-color: rgb(224, 234, 245)"
        >
          <strong> Riesgos de no realizarlo </strong>
        </td>
        <td class="table-border" style="width: 80%">
          <p>
            No conocer el estado de salud, enfermedad, diagnostico o tratamiento
            que necesita, imposibilitando la atención y limitando al profesional
            para poder ejercer lo pertinente que se requiera.
          </p>
        </td>
      </tr>
      <tr>
        <td
          class="table-border"
          style="width: 20%; background-color: rgb(224, 234, 245)"
        >
          <strong> Alternativa de tratamiento</strong>
        </td>
        <td class="table-border" style="width: 80%">
          <p>No aplica.</p>
        </td>
      </tr>
    </table>
    <p style="font-size: 11px">
      Expreso que este documento me ha sido debidamente explicado y que mis
      cuestionamientos han sido resueltos a satisfacción, entiendo claramente el
      propósito del procedimiento a realizar y que dispongo de toda la
      información necesaria para dar mi consentimiento, por lo tanto,
      <strong>AUTORIZO</strong> que el profesional de la salud de la institución
      realice mi atención.
      <br />
      <br />
      Me fue explicado que existe la posibilidad de revocar el consentimiento en
      cualquier momento, en tal caso debo informar mi decisión al profesional de
      la salud tratante.
      <br />
      <br />
      <strong>NOTA:</strong> uando se trate de un menor de edad, o el paciente
      no esté en capacidad de otorgar el consentimiento, será la persona que lo
      representa legalmente, la encargada de firmar el presente documento.
      <br />
      <br />
      Declaro por lo tanto, cumplida, la obligación legal de este documento y
      demás disposiciones legales que este acarre, de conformidad con lo
      establecido por la legislación vigente; Resolución 2346 del 11 de Julio de
      2007 Parágrafo del Artículo 10, y para dar cumplimiento a las
      disposiciones constitucionales y legales; JAVAP Salud Ocupacional,
      promueve la privacidad de la información, la protección de datos
      personales y regula el uso de la información; conforme a la Ley
      Estatutaria 1581 de 2012 y su decreto reglamentario 1377 de 2013, y la Ley
      1266 del 2008 Habeas Data.
    </p>
    <p style="text-align: center; font-size: 11px">
      <strong>CONFIDENCIAL</strong> - este documento es de uso exclusivo de
      JAVAP Salud Ocupacional, por lo que, se encuentra prohibida su divulgación
      por cualquier medio sin autorización expresa y escrita.
    </p>

    <div
      style="
        width: 100%;

        display: flex;
        justify-content: space-between;
      "
    >
      <div style="display: flex; flex-direction: column; align-items: center">
        <img src="<%=doctorSignature%>" style="width: 140px; height: 100px" />
        <div
          style="
            width: 200px;
            padding: 2px;
            font-size: 9px;
            font-weight: 700;
            text-align: center;
            border-top: 2px solid black;
          "
        >
          FIRMA MEDICO S.O. RM Y LICENCIA
        </div>
      </div>
      <div style="display: flex; flex-direction: column; align-items: center">
        <img src="<%=signature%>" style="width: 140px; height: 100px" />
        <div
          style="
            width: 200px;
            padding: 2px;
            font-size: 9px;
            font-weight: 700;
            text-align: center;
            border-top: 2px solid black;
          "
        >
          FIRMA PACIENTE
        </div>
      </div>
      <div style="display: flex; flex-direction: column; align-items: center">
        <img
          src="<%=fingerprint%>"
          alt=""
          style="width: 140px; height: 100px"
        />
        <div
          style="
            width: 200px;
            padding: 2px;
            font-size: 9px;
            font-weight: 700;
            text-align: center;
            border-top: 2px solid black;
          "
        >
          HUELLA PACIENTE
        </div>
      </div>
    </div>
    <div class="page-break"></div>
  </body>
</html>
